{% extends "layout.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
    {% include "back-button.njk" %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-l">Check your answers</h1>
            <h2 class="govuk-heading-m">Application details</h2>
            {{ govukSummaryList({
                classes: "govuk-!-margin-bottom-9",
                rows: [
                {
                    key: {
                    text: "Organisation Name"
                    },
                    value: {
                    text: session.organisationName
                    },
                    actions: {
                    items: [
                        {
                        href: "/verification",
                        text: "Change",
                        visuallyHiddenText: "Organisation Name"
                        }
                    ]
                    }
                },
                {
                    key: {
                    text: "Organisation EORI"
                    },
                    value: {
                    text: session.eoriNumber
                    },
                    actions: {
                    items: [
                        {
                        href: "/verification",
                        text: "Change",
                        visuallyHiddenText: "Organisation EORI"
                        }
                    ]
                    }
                },
                {
                    key: {
                    text: "UKACS Reference"
                    },
                    value: {
                    text: session.ukacsReference
                    },
                    actions: {
                    items: [
                        {
                        href: "/verification",
                        text: "Change",
                        visuallyHiddenText: "UKACS Reference"
                        }
                    ]
                    }
                },
                {
                    key: {
                    text: "Email Address"
                    },
                    value: {
                    text: session.emailAddress
                    },
                    actions: {
                    items: [
                        {
                        href: "/verification",
                        text: "Change",
                        visuallyHiddenText: "Email Address"
                        }
                    ]
                    }
                }
                ]
            }) }}
        </div>
    </div>
    {% if error %}
        {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: [
                {
                text: "Select all the terms & conditions.",
                href: "#"
                }
            ]
        }) }}
    {% endif %}
    <form method="POST" action="/completion">
        {% if error %}
            {{ govukCheckboxes({
            name: "terms",
            fieldset: {
                legend: {
                text: "Terms and Conditions",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                text: "Read the information below carefully. By ticking the boxes, you acknowledge that you have read, understood and agree to the terms and conditions of the Commodity Code Identification Tool."
            },
            errorMessage: {
                text: "Select all the terms & conditions."
            },
            items: [
                {
                value: "term1",
                text: "The Commodity Code Identification Tool is designated for backend operations only and must not be directly integrated into any customer-facing interfaces, applications, or websites."
                },
                {
                value: "term2",
                text: "The Commodity Code Identification Tool is solely for internal use and must not be shared with external parties. Access credentials must remain confidential and not be disclosed to anyone outside the organisation."
                },
                {
                value: "term3",
                text: "The Commodity Code Identification Tool is solely intended for generating commodity codes for parcels being transported from Great Britain to Northern Ireland that are classified as 'Not at Risk'."
                },
                {
                value: "term4",
                text: "I have read, understood and agree to the terms and conditions of the Commodity Code Identification Tool."
                }
            ]
            }) }}
        {% else %}
            {{ govukCheckboxes({
            name: "terms",
            fieldset: {
                legend: {
                text: "Terms and Conditions",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
                }
            },
            hint: {
                text: "Read the information below carefully. By ticking the boxes, you acknowledge that you have read, understood and agree to the terms and conditions of the Commodity Code Identification Tool."
            },
            items: [
                {
                value: "term1",
                text: "The Commodity Code Identification Tool is designated for backend operations only and must not be directly integrated into any customer-facing interfaces, applications, or websites."
                },
                {
                value: "term2",
                text: "The Commodity Code Identification Tool is solely for internal use and must not be shared with external parties. Access credentials must remain confidential and not be disclosed to anyone outside the organisation."
                },
                {
                value: "term3",
                text: "The Commodity Code Identification Tool is solely intended for generating commodity codes for parcels being transported from Great Britain to Northern Ireland that are classified as 'Not at Risk'."
                },
                {
                value: "term4",
                text: "I have read, understood and agree to the terms and conditions of the Commodity Code Identification Tool."
                }
            ]
            }) }}
        {% endif %}
        <p class="govuk-body"/p>
        <p class="govuk-body">
            Full terms and conditions are available <a href="#" class="govuk-link">here</a>.
        </p>
        <p class="govuk-body">
            By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
        </p>
        <div class="govuk-button-group">
            <button type="submit" class="govuk-button" data-module="govuk-button">Accept and send</button>
        </div>
    </form>
{% endblock %}
