{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% block title %}Cookies{% endblock %}
{% block content %}
    <h1 class="govuk-heading-xl">Cookies on the UK Trade Tariff Developer Hub</h1>
    <p class="govuk-body">Cookies are files saved on your phone, tablet or computer when you visit a website. We use cookies to store information about how you use this website, such as the pages you visit.</p>

    <h2 class="govuk-heading-m">Strictly necessary cookies</h2>
    <p class="govuk-body">We only use strictly necessary cookies.</p>
    <p class="govuk-body">These essential cookies do things like remember your progress through the application. They always need to be on, or the service will not function.</p>

    {{ govukTable({
    firstCellIsHeader: true,
    head: [
        {
            text: "Name"
        },
        {
            text: "Purpose"
        },
        {
            text: "Expires"
        }
    ],
    rows: [
        [
            {
                text: "session"
            },
            {
                text: "Stores details about your current login session"
            },
            {
                text: "When you close your browser"
            }
        ],
        [
            {
                text: "session_sig"
            },
            {
                text: "Stores a digital signature to ensure that the 'session' cookie hasn't been altered"
            },
            {
                text: "When you close your browser"
            }
        ],
        [
            {
                text: "appSession.0, appSession.1, etc."
            },
            {
                text: "Temporarily stores any information you provide while completing forms within the site"
            },
            {
                text: "When you close your browser"
            }
        ]
    ]} ) }}

    <p class="govuk-body">Last updated 21 June 2024</p>
{% endblock %}
