{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block title %}Your API keys{% endblock %}
{% set createKeyPath = ["/dashboard/new"] | join %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">Your API keys</h1>
            <p class="govuk-body">
                Manage all API keys that have been generated for your organisation.
            </p>
            {{ govukTable({
                caption: "",
                captionClasses: "govuk-table__caption--l",
                firstCellIsHeader: true,
                head: formattedData.headers,
                rows: formattedData.rows
                }) }}
            {{ govukButton({
                text: "Create new key",
                classes: "govuk-button--secondary",
                href: createKeyPath
                }) }}
            <h1 class="govuk-heading-l">
                If you need help
            </h2>
            <p class="govuk-body">
                If you have any further queries relating to the developer hub contact: <a class="govuk-link"
                href="mailto:hmrc-trade-tariff-support-g@digital.hmrc.gov.uk">hmrc-trade-tariff-support-g@digital.hmrc.gov.uk</a>
            </p>
        </div>
    </div>
{% endblock %}
