{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block title %}Dashboard{% endblock %}
{% set createKeyPath = ["/dashboard/new"] | join %}
{% block content %}
    <span class="govuk-caption-l">Commodity Code Identification Tool Hub</span>
    <h1 class="govuk-heading-l">Your account</h1>
    <p class="govuk-body">
        Manage all API keys that have been generated and assigned to authorised individuals from you organisation
    </p>
    {{ govukTable({
        caption: "",
        captionClasses: "govuk-table__caption--l",
        firstCellIsHeader: true,
        head: formattedData.headers,
        rows: formattedData.rows
        }) }}
    {{ govukButton({
        text: "Create new key",
        classes: "govuk-button--secondary",
        href: createKeyPath
        }) }}
    <h1 class="govuk-heading-l">
        If you need help
    </h2>
    <p class="govuk-body">
        If you have any further queries relating to the developer hub contact: <a href="mailto:hmrc-fpo-tool-support@digital.hmrc.gov.uk">hmrc-fpo-tool-support@digital.hmrc.gov.uk</a>
    </p>
{% endblock %}
