{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <span class="govuk-caption-l">Commodity Code API Developer Hub</span>
    <h1 class="govuk-heading-l">Manage Access for your organisation</h1>
    <p class="govuk-body">Welcome to the commodity code API developer Hub.</p>
    <p class="govuk-body">The table below displays a list of API keys that have been generated for authorized individuals within your organization. From this page, you can view details, create new API keys, and revoke existing ones.</p>

    {{ govukTable({
        caption: "",
        captionClasses: "govuk-table__caption--l",
        firstCellIsHeader: true,
        head: [
            { text: "API Client ID" },
            { text: "Description" },
            { text: "Created on" },
            { text: "Status" },
            { text: "Revoke" }
        ],
        rows: formattedData.rows
    }) }}

    <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="/dashboard/keys/{{ organisationId }}/new">Create New Key</a>
    </p>

    <p class="govuk-body">If you have any further questions relating to your API Credentials, please contact us at: <a href="mailto:hmrc-fpo-tool-support@digital.hmrc.gov.uk">hmrc-fpo-tool-support@digital.hmrc.gov.uk</a></p>

{% endblock %}
