{% extends "layout.njk" %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <h1 class="govuk-heading-l">Delete an API Key</h1>
    {{ govukWarningText({
        "text": "Your API Key will be deleted with immediate effect and cannot be reactivated once deleted.",
        "iconFallbackText": "Warning"
    }) }}
    <p class="govuk-body">
        Please check the below details regarding the API Key you have selected to delete and confirm your choice.
    </p>
    <table class="govuk-table">
        <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">API Key</th>
                <td class="govuk-table__cell">{{ apiKey.Secret }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Description</th>
                <td class="govuk-table__cell">{{ apiKey.Description }}</td>
            </tr>
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">Created on</th>
                <td class="govuk-table__cell">{{ createdAt }}</td>
            </tr>
        </tbody>
    </table>
    <form method="POST"
          action="/dashboard/{{ apiKey.CustomerApiKeyId }}/delete">
        <div class="govuk-button-group">
            <button class="govuk-button govuk-button--warning" data-module="govuk-button">Delete</button>
            <a href="/dashboard" class="govuk-link">Cancel</a>
        </div>
    </form>
{% endblock %}
