{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block title %}Home Page{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Commodity Code Identification Tool Developer Hub</h1>
      <p class="govuk-body">You can use this service to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Create a key for yourself</li>
        <li>Create a key for someone else in your organisation</li>
        <li>Revoke a key</li>
        <li>View active keys</li>
      </ul>

      <h2 class="govuk-heading-l">Sign in to the developer hub</h2>
      <p class="govuk-body">You'll need a GOV.UK One Login to use this service. If you do not have a GOV.UK One Login, you can create one.</p>
      <p class="govuk-body">If it is your first time registering, you'll also need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>The name of your organisation</li>
        <li>The EORI number of your organisation</li>
        <li>The UK Authorised Carrier Scheme reference number of your organisation</li>
        <li>An email address for essential updates</li>
      </ul>

      <a href="/dashboard/local-development" role="button" draggable="false" class="govuk-button govuk-button--start">
        Start Now
      </a>

      <p class="govuk-body">If you have any further queries relating to the developer hub contact: <a class="govuk-link" href="mailto:hmrc-fpo-tool-support@digital.hmrc.gov.uk">hmrc-fpo-tool-support@digital.hmrc.gov.uk</a></p>
    </div>
  </div>
{% endblock %}
