{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block title %}Home Page{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Commodity Code Identification Tool Developer Hub</h1>
            <p class="govuk-body">Welcome to the Commodity Code Identification Tool Developer Hub.</p>
            <p class="govuk-body">You can use this service to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>create an API key for yourself</li>
                <li>create an API key for someone else in your organisation</li>
                <li>revoke an API key</li>
                <li>view active API keys</li>
            </ul>
            <p class="govuk-body">
                You'll need a GOV.UK One Login to use this service. If you do not have a GOV.UK One Login, you can create one.
            </p>
            <p class="govuk-body">If it is your first time registering, you'll also need:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>the name of your organisation</li>
                <li>the EORI number of your organisation</li>
                <li>the UK Authorised Carrier Scheme reference number of your organisation</li>
                <li>an email address for essential updates</li>
            </ul>
            {{ govukButton({
                text: "Start now",
                href: "/dashboard",
                isStartButton: true
            }) }}
            <h1 class="govuk-heading-m">If you need help</h1>
            <p class="govuk-body">
                If you have any further queries relating to the developer hub contact: <a class="govuk-link"
        href="mailto:hmrc-trade-tariff-support-g@digital.hmrc.gov.uk">hmrc-trade-tariff-support-g@digital.hmrc.gov.uk</a>
            </p>
        </div>
    </div>
{% endblock %}
