{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
<div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">API Key Created Successfully</h1>
  <div class="govuk-panel__body">
    <p class="govuk-body">Copy your key to somewhere safe as you will not be able to view it again once you leave this page.</p>
  </div>
</div>

<h2 class="govuk-heading-l">What happens next</h2>
<p class="govuk-body">You can use this API key to access the FPO Commodity Code Identification Tool by including it in the <code>X-Api-Key</code> header of any calls.</p>

<div class="govuk-inset-text">
  <strong>API Key</strong><br>
  <code class="govuk-code">{{ formattedData }}</code>
</div>

<button class="govuk-button" data-module="govuk-button" onclick="copyToClipboard()">Copy to clipboard</button>

<p class="govuk-body"><a class="govuk-link" href="/dashboard/{{ fpoId }}">Back to dashboard</a></p>

<script>
  function copyToClipboard() {
    const apiKey = document.querySelector('.govuk-code').innerText;
    navigator.clipboard.writeText(apiKey).then(function() {
      alert('API Key copied to clipboard');
    }, function(err) {
      alert('Failed to copy API Key: ', err);
    });
  }
</script>
{% endblock %}
