{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block title %}Your API Key has been created successfully{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {{ govukPanel({
                titleText: "Your API Key has been created successfully"
            }) }}
            <h2 class="govuk-heading-l">What happens next</h2>
            <p class="govuk-body">Use the API key to access the Commodity Code Identification Tool. Use this API in the <strong>X-Api-Key</strong> header of any calls you make.</p>
            {{ govukWarningText({
              text: "You must copy this key to somewhere safe. You will not be able to view this API key again once you leave this page.",
              iconFallbackText: "Warning"
            }) }}

            {{ govukInsetText({
                html: secretHtml
            }) }}

            {{ govukButton({
              text: "Copy to clipboard",
              classes: "govuk-button--secondary",
              id: "copy-to-clipboard-button"
            }) }}

            <p class="govuk-body">
                <a class="govuk-link" href="/dashboard">Back to dashboard</a>
            </p>
        </div>
    </div>

    <script nonce="{{ cspNonce }}">
        function copyToClipboard() {
            const copyButton = document.getElementById('copy-to-clipboard-button');
            const apiKey = document.getElementById('api-key').innerText;

            copyButton.addEventListener('click', () => {
                navigator.clipboard.writeText(apiKey).then(function() {
                    alert('API key copied to clipboard');
                }, function(err) {
                    alert('Failed to copy API key: ' + err.message, err);
                });
            });
        }
    </script>
{% endblock %}
