{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block title %}Create new API key{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% if error %}
                {{ govukErrorSummary({
                    titleText: "There is a problem",
                    errorList: [
                        {
                        text: "Enter API Key Description",
                        href: "#description"
                        }
                    ]
                }) }}
            {% endif %}
            <form action="/dashboard/create" method="post">
                {% if error %}
                    {{ govukInput({
                        "label": {
                            "text": "Enter API Key Description",
                            "classes": "govuk-label--l",
                            "isPageHeading": true
                        },
                        "hint": {
                            "text": "Use a description you will recognise in the future. Do not reuse the same description across API keys."
                        },
                        "id": "description",
                        "name": "apiKeyDescription",
                        "errorMessage": {
                            "text": "Enter API key description"
                        }
                    }) }}
                {% else %}
                    {{ govukInput({
                        "label": {
                            "text": "Enter API Key Description",
                            "classes": "govuk-label--l",
                            "isPageHeading": true
                        },
                        "hint": {
                            "text": "Use a description you will recognise in the future. Do not reuse the same description across API keys."
                        },
                        "id": "description",
                        "name": "apiKeyDescription"
                    }) }}
                {% endif %}
                <input type="hidden" name="_csrf" value="{{csrfToken}}">
                <div class="govuk-button-group">
                    {{ govukButton({"text": "Continue", "type": "submit", "preventDoubleClick": true}) }}
                    <a class="govuk-link" href="/dashboard">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
