{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% block title %}Privacy notice{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Privacy notice</h1>
            <p class="govuk-body">
                FPO Commodity Code Identification Tool Developer Hub (the ‘service’) is provided by HM Revenue and Customs (HMRC). HMRC will be referred to as
                ‘we’ or ‘us’ throughout this notice.
            </p>
            <p class="govuk-body">We are committed to protecting the privacy and security of your personal information.</p>
            <h2 class="govuk-heading-m">The purpose of this notice</h2>
            <p class="govuk-body">This privacy notice describes how we collect and use personal information about you in accordance
                with data protection law, including the UK General Data Protection Regulation (UK GDPR) and the Data Protection Act
                (DPA) 2018.</p>
            <h2 class="govuk-heading-m">What data we collect</h2>
            <p class="govuk-body">For use of the service:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>The name and email address you used to sign up to Government Gateway</li>
            </ul>
            <p class="govuk-body">To register for the FPO commodity code identification API:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Your organisation name</li>
                <li>Your work email address</li>
            </ul>
            <p class="govuk-body">For online and telephone support:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>name</li>
                <li>email address</li>
                <li>telephone number</li>
                <li>details of your support issue</li>
            </ul>
            <h2 class="govuk-heading-m">Why we collect your personal data</h2>
            <p class="govuk-body">We collect your personal data to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>allow you to access the service securely</li>
                <li>allow us to contact you regarding an application to access the FPO commodity code identification tool API</li>
                <li>allow us to notify you about any siginificant changes to the service availability such as planned outages</li>
                <li>gather feedback to improve the service</li>
                <li>respond to any feedback you send us, if you have asked us to</li>
            </ul>
            <h2 class="govuk-heading-m">The legal basis of using your data</h2>
            <p class="govuk-body">In order for the use of personal data to be lawful, we need to meet one (or more) conditions in
                the data protection legislation, as set out in Article 6(1) of the General Data Protection Regulation (GDPR).</p>
            <p class="govuk-body">For the purpose of providing the FPO Commodity Code Identification Tool Developer Hub, the relevant condition that we are
                meeting is ‘public task’ as specified under Article 6 (1)(e) of the GDPR.</p>
            <h2 class="govuk-heading-m">Who we share your data with</h2>
            <p class="govuk-body">Your personal data will be shared with our third party suppliers who provide the service.</p>
            <h2 class="govuk-heading-m">Data security</h2>
            <p class="govuk-body">We have put in place measures to protect the security of your information.</p>
            <p class="govuk-body">
                Our third-party service providers will only process your personal information on our instructions or with our agreement,
                and where they have agreed to treat the information confidentially and to keep it secure.
            </p>
            <p class="govuk-body">
                We treat the security of your data very seriously. We have strict security standards, and all our staff and other people
                who process personal data on our behalf get regular training about how to keep information safe.
            </p>
            <p class="govuk-body">
                We have put in place appropriate technical, physical and managerial procedures to safeguard and secure the information
                we collect about you.
            </p>
            <p class="govuk-body">
                In addition, we limit access to your personal information to those persons, or agents who have a business or legal need
                to do so.
            </p>
            <p class="govuk-body">
                We have taken measures to make sure an adequate level of security for personal information processed via our website.
            </p>
            <p class="govuk-body">
                We have put in place procedures to deal with any suspected data security breach and will notify you and the regulator of
                a suspected breach where we are legally required to do so.
            </p>
            <h2 class="govuk-heading-m">Data retention</h2>
            <p class="govuk-body">
                Your personal data will be kept by us for as long as needed to provide you with the service.
            </p>
            <h2 class="govuk-heading-m">Your rights</h2>
            <p class="govuk-body">You have the right to request:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>information about how your personal data is processed</li>
                <li>a copy of that personal data</li>
                <li>that anything inaccurate in your personal data is corrected immediately</li>
            </ul>
            <p class="govuk-body">You can also:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>raise an objection about how your personal data is processed</li>
                <li>request that your personal data is erased if there is no longer a justification for it</li>
                <li>ask that the processing of your personal data is restricted in certain circumstances</li>
                <li>If you have any of these requests, get in contact with our Privacy Team.</li>
            </ul>
            <h2 class="govuk-heading-m">International transfers</h2>
            <p class="govuk-body">We design, build and run our systems to make sure that your data is as safe as possible at all
                stages, both while it’s processed and when it’s stored.</p>
            <p class="govuk-body">All personal data is stored in the European Economic Area (EEA).</p>
            <h2 class="govuk-heading-m">Complaints</h2>
            <p class="govuk-body">
                HMRC has appointed a Data Protection Officer (<abbr title="Data Protection Officer">DPO</abbr>),
                        Nicholas de Lacy-Brown, to oversee compliance with its data protection obligations.
            </p>
            <p class="govuk-body">
                If you have any questions about this privacy notice or how HMRC handles your personal information, email the
                <abbr title="Data Protection Officer">DPO</abbr>
                at:
                <a class="govuk-link" href="mailto:advice.dpa@hmrc.gov.uk">advice.dpa@hmrc.gov.uk</a>.
            </p>
            <p class="govuk-body">
                You can read more about how the
                <abbr title="Data Protection Officer">DPO</abbr>
                handles your personal information in our
                <a
                    class="govuk-link"
                    href="https://www.gov.uk/government/publications/hmrc-office-of-the-data-protection-officer-privacy-notice">
                    Office of the Data Protection Officer Privacy Notice
                </a>.
            </p>
            <p class="govuk-body">
                If you want to request a copy of your personal data follow HMRC’s
                <a class="govuk-link" href="https://www.gov.uk/guidance/hmrc-subject-access-request">subject access request guidance</a>.
            </p>
            <p class="govuk-body">
                You should follow the existing complaints process if you want to
                <a class="govuk-link" href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/complain-about-hmrc">
                    complain about HMRC
                </a>.
            </p>
            <p class="govuk-body">
                You also have the right to make a complaint at any time to the Information Commissioner’s Office (<abbr title="Information Commissioner">ICO</abbr>),
                        the UK supervisory authority for data protection issues.
            </p>
            <p class="govuk-body">
                If you consider that your personal data has been misused or mishandled, you may make a complaint to the Information
                Commissioner, who is an independent regulator.
            </p>
            <p class="govuk-body">The Information Commissioner can be contacted at:</p>
            <p class="govuk-body">
                Information Commissioner's Office<br>
                Wycliffe House<br>
                Water Lane<br>
                Wilmslow<br>
                Cheshire SK9 5AF<br>
                <br>
                Telephone: 0303 123 1113<br>
                Email: <a class="govuk-link" href="mailto:casework@ico.org.uk" rel="noopener noreferrer">casework@ico.org.uk</a>
            </p>
            <p class="govuk-body">
                Any complaint to the Information Commissioner is without prejudice to your right to seek redress through the courts.
            </p>
        </div>
    </div>
{% endblock %}
