{% extends "layout.njk" %}
{% block content %}
    {% include "back-button.njk" %}
    <main class="govuk-main-wrapper govuk-width-container"
          id="main-content"
          role="main">
        <div class="govuk-panel govuk-panel--confirmation", style="background-color:red">
            <h1 class="govuk-panel__title">Application rejected</h1>
        </div>
        <p class="govuk-body">
            <a href="/feedback" class="govuk-link" target="_blank">What did you think of this service?</a> (takes 30 seconds)
        </p>
    </main>
{% endblock %}
