{% extends "layout.html" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block title %}
    Dashboard
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">Revoke an API Key</h1>

    <div class="govuk-inset-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        Your API Key will be revoked with immediate effect and cannot be reactivated once revoked.
      </strong>
    </div>

    <p class="govuk-body">
      Please check the below details regarding the API Key you have selected to revoke and confirm your choice.
    </p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Key</th>
          <th class="govuk-table__header" scope="col">Value</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">API Key</th>
          <td class="govuk-table__cell">****3845</td>
        </tr>
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="row">Description</th>
          <td class="govuk-table__cell">wilson</td>
        </tr>
      </tbody>
    </table>

    <form method="POST" action="/dashboard/keys/{{ fpoId }}/{{ customerKeyId }}/revoke">
      <button class="govuk-button" data-module="govuk-button">Revoke</button>
      <a href="/dashboard/{{ fpoId }}" class="govuk-link">Cancel</a>
    </form>

{% endblock %}
