{% extends "layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% block title %}Dashboard{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Revoke an API Key</h1>
            <p class="govuk-body">
                Check the below details regarding the API Key you have selected to revoke and confirm your choice.
            </p>
            {{ govukWarningText({
                "text": "Your API Key will be revoked with immediate effect. Once revoked it cannot be reactivated.",
                "iconFallbackText": "Warning"
            }) }}
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">API Key</th>
                        <td class="govuk-table__cell">{{ apiKey.Secret }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Description</th>
                        <td class="govuk-table__cell">{{ apiKey.Description }}</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Created on</th>
                        <td class="govuk-table__cell">{{ createdAt }}</td>
                    </tr>
                </tbody>
            </table>
            <form method="POST"
                action="/dashboard/{{ apiKey.CustomerApiKeyId }}/revoke">
                <div class="govuk-button-group">
                    <button class="govuk-button govuk-button--warning" data-module="govuk-button">Revoke</button>
                    <a href="/dashboard" class="govuk-link">Cancel</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
