{% extends "layout.html" %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Commodity Code API Developer Hub</h1>

        <h2 class="govuk-heading-l">Verification</h2>
        <p class="govuk-body">Welcome to the Commodity Code API Developer Hub. We need to verify some details before you can manage your API keys in the developer hub.</p>
        <p class="govuk-body">We aim to process all verification requests within X working days.</p>
        <p class="govuk-body">To submit your verification request, please fill out the below form.</p>

        <form action="/submit-verification" method="post" novalidate>
          <div class="govuk-form-group">
            <label class="govuk-label" for="organisation-name">
              Organisation Name
            </label>
            <span class="govuk-hint">What is the name of the organisation you are accessing the API on behalf of?</span>
            <input class="govuk-input" id="organisation-name" name="organisation-name" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="eori-number">
              EORI Number
            </label>
            <span class="govuk-hint">Your organisation should have an Economic Operators Registration and Identification number</span>
            <input class="govuk-input" id="eori-number" name="eori-number" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="carrier-scheme-number">
              UK Authorised Carrier Scheme Reference Number
            </label>
            <span class="govuk-hint">Your organisation should have been assigned this when registering for the UK Authorised Carrier Scheme</span>
            <input class="govuk-input" id="carrier-scheme-number" name="carrier-scheme-number" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="email">
              Email address
            </label>
            <span class="govuk-hint">Please provide an email address so that we can keep you updated on the status of your verification request</span>
            <input class="govuk-input" id="email" name="email" type="email">
          </div>

          <button class="govuk-button" data-module="govuk-button" type="submit">
            Submit
          </button>
          <a href="#" class="govuk-link">Cancel</a>
        </form>

        <p class="govuk-body">If you have any further queries relating to the developer hub, please contact us at: <a class="govuk-link" href="mailto:hmrc-fgp-tool-support@digital.hmrc.gov.uk">hmrc-fgp-tool-support@digital.hmrc.gov.uk</a></p>
      </div>
    </div>
  </main>
</div>
{% endblock %}
